In [ ]:
#Intializing/creating /Declaring List 
l1=[]

In [1]:
#Emplty List 
l2=[]

In [ ]:
#creating list with String /Homogenous element collection 
l1=['Lakshya','kumar',"Ranjit singh"]
print(l1)

['Lakshya', 'kumar', 'Ranjit singh']

In [5]:
l2=["Airthmetic",True,3,3.12]
print(l2)

['Airthmetic', True, 3, 3.12]

In [8]:
#nested LIst 
l4=[1,2,[True,False.],3.14,[45,12.4,47.35,4852.,45]]
print(l4)

SyntaxError: invalid syntax (3941370522.py, line 2)

In [9]:
l=list("Lakshya Kumar")
l

['L', 'a', 'k', 's', 'h', 'y', 'a', ' ', 'K', 'u', 'm', 'a', 'r']

TypeError: list expected at most 1 argument, got 2

In [12]:
l=list(("Lakshya","Lumar"))
print(l)

['Lakshya', 'Lumar']

In [13]:
l=list(23)

TypeError: 'int' object is not iterable

In [16]:
l5=list(input("Enter the String : "))
print(l5)

[]

In [17]:
l2

['Airthmetic', True, 3, 3.12]

In [18]:
l1

['Lakshya', 'kumar', 'Ranjit singh']

In [20]:
l2

['Airthmetic', True, 3, 3.12]

In [23]:
l=[45,25,78,35,48,49]
print(l)

[45, 25, 78, 35, 48, 49]

In [24]:
#Acessing the element using the indexed 
l[0]
l[1]
l[2]

78

In [26]:

#Trasversal of list using for loop 
for i in l :
    print(i)

45
25
78
35
48
49

In [30]:
 #Transverssal the element using range function
n=len(l)

for i in range(n):
    print(l[i])  #indexing concept is used

45
25
78
35
48
49

In [32]:
#by using the while loop 
i=0

while(i<n):
    print(l[i])
    i=i+1

45
25
78
35
48
49

In [43]:
l1=[1,2,4,8,6]
l2=[5,2,87,4]

print("1.",l1==l2)
print("2.",l1<l2)
print("3.",l1>l2)
print("4.",l1==l1)
print("5.",l2==l2)
print("6.",l2>l2)
print("7.",l2<l2)

1. False
2. True
3. False
4. True
5. True
6. False
7. False

In [48]:
l1=[1,2,3]
l1*2.12

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
t1=(1,2,4,3)
t2=(1,2,3,4)

print(t1<t2)

False

In [54]:
l1=list("COMPUTER")
print(l1)

['C', 'O', 'M', 'P', 'U', 'T', 'E', 'R']

In [57]:
l1[:]

['C', 'O', 'M', 'P', 'U', 'T', 'E', 'R']

In [ ]:
l1=[4,5,26,48,1]
first_max=0
second_max=0
#Travesing the element in List :
for i in range(0,len(l1)) :
    if(l1[i]>first_max):
        first_max=l1[i]
        if(first_max>second_max):
            second_max=first_max
        

print("Maximum element in the list is : ",first_max)
print("sECOND lOARGEST ELEMENT is : ",second_max)

Maximum element in the list is :  48
sECOND lOARGEST ELEMENT is :  48