In [7]:
# #Tuple tutorial 

# #creating the tuple
# t1=() #creating the empty tuple 

# #method-2
# t2=tuple() #with Tuple function 

# #method 3
# t3=(2,3,4,5,8)  #intialze the tuple

# #method-4
# t5=(2,) #creating the single element tuple 
# print(type(t5))

# #method-5 
# t6=56,
# print(t6)

# #method-6
# t7=tuple((10,))
# print(t7)

In [17]:
#most important Question 
# t1=tuple(("string"),)
# print(t1)

# t2=tuple(("string"))
# print(t2)

In [18]:
t1=('a','b','c','d')
sum(t1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
#Method-7
#special method 
#to creating the tuple by user input 
#for and while loop ka use kerte hai 
# t1=tuple()
# #n= int(input("How many number are you ented in the tuple :"))
# n=5
# for i in range(n):
#     i=int(input("Enter the element in the tuple : "))
#     #concetanation technique
#     t1=t1+(i,)
#     #t1=t1+i,
#     #t1=t1+tuple((i,))
# print("Tuple with element is : ",t1)

In [11]:
# #Type of tuple
# #1.Homogenous tuple 
# t1=(1,2,3,5)  #integer tuple 
# t2=("Lakshya","Kumar") #String tuple 
# t3=(True,False) #boleean tuple 

# #2.Hetrogenous (Mixed element Tuple )
# t4=("ajay",True,45.566,48,"a",[1,2,3])

# #3.Empty tuple 
# t4=()

# #4.Neasted tuple
# t5=((1,2,3),("lakshya","kumar"),(True,False),(123.0,45.25))

In [ ]:
#Traversing and Acessing a tuple element 
#Tuple have the indexing concept same as list  

# t1=(2,5,7,6,1)
# print(t1)

# #acessing the element of tuple using indexing 
# #positive indexing 
# print("By Positve Indexing :")
# print(t1[0])
# print(t1[1])
# print(t1[2])
# print(t1[3])

# #negative Indexing 
# print("Ny Negative Indexing : ")
# print(t1[-1])
# print(t1[-2])
# print(t1[-3])
# print(t1[-4])

(2, 5, 7, 6, 1)
By Positve Indexing :
2
5
7
6
Ny Negative Indexing :
1
6
7
5

In [ ]:
#Traversing of the tuple elements
t1=(1,2,3,5,8) #tuple 

#1.By for loop
# for i in t1:
#     print(i)


#2.by while loop  
# i=0
# while i<len(t1):
#     print(t1[i])
#     i=i+1

#3.by range function
# n=len(t1) 
# for i in range(n):
#     print(t1[i])

1
2
3
5
8

In [ ]:
#Scliing of the tuple  same aas in list 
# t1=(4,8,7,26,48,1,59,7,23)
# n=len(t1)
# #scling concept 
# #tuple(start:stop:Step)

# #Positive indexing 
# print(t1[1::])
# print(t1[1:n-1:])
# print(t1[5:8:])

# print(t1[::1])
# print(t1[::2])
# print(t1[::3])

# #negative Indexing scling
# print("Negative indexing :\n")
# print(t1[-1::]) 
# print(t1[-8:-2])
# print(t1[::-1])
# print(t1[::-2])
# print(t1[::-3])
# print(t1[::-4])

(8, 7, 26, 48, 1, 59, 7, 23)
(8, 7, 26, 48, 1, 59, 7)
(1, 59, 7)
(4, 8, 7, 26, 48, 1, 59, 7, 23)
(4, 7, 48, 59, 23)
(4, 26, 59)
Negative indexing :

(23,)
(8, 7, 26, 48, 1, 59)
(23, 7, 59, 1, 48, 26, 7, 8, 4)
(23, 59, 48, 7, 4)
(23, 1, 7)
(23, 48, 4)

In [1]:
#Concatenation concept of the tuple 
#Tuple is only added with a tuple not a list ,dictinory even string or int,float,boolean


# t1=(1,4,7,5)
# t2=56,
# t3=tuple((10,25))

# #concartenated 
# t5=t1+t2
# print(t5)

# t6=t5+t3
# print(t6)

(1, 4, 7, 5, 56)
(1, 4, 7, 5, 56, 10, 25)

In [4]:
#Repetation of the tuple
# t1=(1,5,8,3,4)
# n=2

# t2=t1*2
# print(t2)

(1, 5, 8, 3, 4, 1, 5, 8, 3, 4)

In [ ]:
#membership opreator 'in' and 'not in'
# t1=(1,5,7,6,9,4)


# print(2 in t1)
# print(1 in t1)
# print(3 in t1)
# print(4 not in t1)
# print(7 not in t1)
# print(9 not in t1)
# print(54 not in t1)

False
True
False
True
True
True
False

In [ ]:
# # Functions in tuple
# # 
# #len(),count(),max(),min(),sum(),any(),sorted(),index(),

# t1=(1,5,7,6,3,78,254,4,7,1,1,1,2)

# print(len(t1))  #returns the length of the tuple 

# print(t1.count(1)) #return the occurence of character <tuple.count(element)>

# print((max(t1))) #return the maxium valued element 
#max() is work only on the homogenous element tuple

# print((min(t1))) #return the minium valued the element
#min() is work only on the homogenous element tuple

# print((sum(t1))) #return of all the element sum 
#sum() is work only on the homogenous element tuple
# print(sorted(t1)) #return the sorted list.

# print(t1.index(7)) #return the element of index of first occurence

# print(any(t1)) #check the sigleton tuple is is ture return Ture otherwise gives False

13
4
254
1
370
[1, 1, 1, 1, 2, 3, 4, 5, 6, 7, 7, 78, 254]
2
True

In [14]:
#comparing the tuple

t1=(1,7,9,25,4,9,15)
t2=(1,7,9,26,4,3,15)

print(t1==t2)
print(t1>=t2)
print(t1<=t2)
print(t1>t2)
print(t1<t2)
print(t1!=t2)
print(t1==t1)
print(t2==t2)
print(t1>=t1)
print(t2>=t2)
print(t1<=t1)
print(t2<=t2)

False
False
True
False
True
True
True
True
True
True
True
True